# 2017 January 27
# https://github.com/bevry/base

# Editor Caches
.c9/

# Private Files
.env
.idea
.cake_task_cache


# =====================================
# CUSTOM

test/render-out/
test/.docpad.db